name: Publish to creates.io

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build binaries in release mode
        run: cargo build --release -p milky-types -p milky-rust-sdk

      - name: Run tests in release mode
        run: cargo test --release -p milky-types -p milky-rust-sdk

      - name: Login into crates.io
        env:
          CRATES_IO_TOKEN: ${{ secrets.CRATES_IO }}
        run: echo "$CRATES_IO_TOKEN" | cargo login

      - name: Package for crates.io
        run: cargo package -p milky-types

      - name: Publish milky-types
        run: cargo publish -p milky-types

      - name: Package for crates.io
        run: cargo package -p milky-rust-sdk

      - name: Publish milky-rust-sdk
        run: cargo publish -p milky-rust-sdk

      - name: Changelog
        uses: Bullrich/generate-release-changelog@master
        id: Changelog
        env:
          REPO: ${{ github.repository }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            ${{ steps.Changelog.outputs.changelog }}
          draft: false
          prerelease: false
