name: test

on:
  push:
    branches: ["master"]
  pull_request_target:
    types: [opened, synchronize, reopened]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Run tests
        run: cargo test -p milky-types -p milky-rust-sdk --verbose
